@page "/category/create"

@using Microsoft.AspNetCore.Authorization
@using CoffeeShopAdmin.Models.CategoryM

@inject CoffeeShopAdmin.Services.CategoryS.ICategoryService CategoryService
@inject NavigationManager Navigation

@attribute [Authorize]

<h3>Create Category</h3>

@if (showSuccessMessage)
{
    <div class="alert alert-success mt-3">
        Category created successfully!
    </div>
}

<EditForm Model="category" OnValidSubmit="CreateCategory">
    <DataAnnotationsValidator />

    <div class="card w-25">
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Category Name</label>
                <InputText class="form-control" @bind-Value="category.Name" />
                <ValidationMessage For="() => category.Name" />
            </div>

            <button class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-secondary" type="button" @onclick="Cancel">Cancel</button>
        </div>
    </div>
</EditForm>



@code {
    private CategoryRequestModel category = new();
    private bool showSuccessMessage = false;

    private async Task CreateCategory()
    {
        try
        {
            var result = await CategoryService.CreateCategory(category);
            if (result)
            {
                showSuccessMessage = true;
                StateHasChanged();
                await Task.Delay(1000);
                Navigation.NavigateTo("/category");
            }
            else
            {
                Console.WriteLine("Error creating category");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/category");
    }
}
