@page "/subcategory/delete/{Id}"

@using Microsoft.AspNetCore.Authorization
@using CoffeeShopAdmin.Models.SubCategoryM

@inject CoffeeShopAdmin.Services.SubCategoryS.ISubCategoryService SubCategoryService
@inject NavigationManager Navigation

@attribute [Authorize]

<h3>Delete SubCategory</h3>

@if (isLoading)
{
    <p>Loading...</p>
}
else if (subcategory == null)
{
    <p>SubCategory not found.</p>
}
else
{
    @if (showSuccessMessage)
    {
        <div class="alert alert-success mt-3">
            SubCategory deleted successfully!
        </div>
    }

    <div class="card w-25">
        <div class="card-body">
            <div class="mb-3">
                <p>Are you sure you want to delete @subcategory.Name?</p>
            </div>

            <button class="btn btn-danger" @onclick="DeleteSubCategory">Delete</button>
            <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
        </div>
    </div>
}

@code {
    [Parameter] public string Id { get; set; }
    private SubCategoryRequestModel? subcategory;
    private bool isLoading = true;
    private bool showSuccessMessage = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            subcategory = await SubCategoryService.GetSubCategoryById(Id);

            if (subcategory == null)
            {
                Console.WriteLine($"SubCategory with ID {Id} not found.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching subcategory: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task DeleteSubCategory()
    {
        try
        {
            var result = await SubCategoryService.DeleteSubCategory(Id);
            if (result)
            {
                showSuccessMessage = true;
                StateHasChanged();
                await Task.Delay(1000);
                Navigation.NavigateTo("/subcategory");
            }
            else
            {
                Console.WriteLine("Error deleting subcategory");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/subcategory");
    }
}