@page "/table/create"

@using Microsoft.AspNetCore.Authorization
@using CoffeeShopAdmin.Models.TableM

@inject CoffeeShopAdmin.Services.TableS.ITableService TableService
@inject NavigationManager Navigation

@attribute [Authorize]

<h3>Create Table</h3>

<div class="card w-25">
	<div class="card-body">
		<div class="mb-3">
			<label class="form-label">Table Name</label>
			<input type="text" class="form-control" @bind="table.Name" required />
		</div>

		<button class="btn btn-success" @onclick="CreateTable">Save</button>
		<button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
	</div>
</div>

@code {
	private TableRequestModel table = new();

	private async Task CreateTable()
	{
		if (!string.IsNullOrWhiteSpace(table.Name))
		{
			try
			{
				var result = await TableService.CreateTable(table);
				if (result)
				{
					Navigation.NavigateTo("/table");
				}
				else
				{
					Console.WriteLine("Error creating table");
				}
			}
			catch (Exception ex)
			{
				Console.WriteLine($"Exception: {ex.Message}");
			}
		}
	}

	private void Cancel()
	{
		Navigation.NavigateTo("/table");
	}
}
